<%- include('partials/header') -%>
<div class="container"> 
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div>
          <div class="aln-left">            
            <a href="/logout" class="button">Logout</a></br>
            <a class="button" href="/user/feed">Return to Feed</a>
          </div>      
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<pics.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/user/<%= pics[i]._id%>">
              <img class="img-fluid" src="<%= pics[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>   
        <div class="row.aln-left extra">
          <a class="button" href="/user/addPost">Add a Picture</a></br>
        </div>     
      </div>  
      <!-- <div class="row.aln-left">
        <a class="button" href="/user/feed">Return to Feed</a>
      </div>  -->
    </div>
  </div>
</div>
<%- include('partials/footer') -%>